<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fake News Detector</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Fake News Detector</h1>
        <form method="POST" action="/">
            <label for="title">Please Paste Headline:</label><br>
            <input type="text" id="title" name="title" required><br>
            <input type="submit" value="Predict">
        </form>
    </div>
</body>
</html>
